// Colors
$primaryColor: green;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1440px;
$xLargeDesktop: 1920px;

:export {
  primaryColor: $primaryColor;
  tablet: $tablet;
  desktop: $desktop;
  largeDesktop: $largeDesktop;
}
