@import "../../../../src/styles/variables.scss";

// Add your SCSS code here
.hero :global {
  background-color: #000;
  padding: 0;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(
      200deg,
      rgba(245, 246, 252, 0.15) 25%,
      rgba(0, 0, 0, 0.9) 65%
    ),
    url("../../../../public/images/hero.jpeg");
  background-position: right;
  background-size: cover;
  color: #000;
  display: flex;

  .hero_content {
    margin-top: 38vh;
    width: 66vw;
    color: #fff;
  
    @media screen and (max-width: 480px) { // TODO
      margin-top: 30vh;
      width: 80vw;
    }
  
    .subtitle {
      font-size: 24px;
      font-weight: 400;
      width: 66vw;
      margin-bottom: 48px;
  
      @media screen and (max-width: 480px) { // TODO
        width: 80vw;
        margin-bottom: 70px;
      }
    }
  }
  
  .hero_button {
    background: $primaryBlue;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 4px 100px;
    color: #fff;
  }
}