.title {
  font-size: 48px;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
