@import "src/styles/variables.scss";

.contentAreaTwo :global {
  color: #000;
  display: flex;

  h4 {
    color: $primaryAccentYellow;
    width: 75vw;
  }

  .left,
  .right {
    width: 100%;
    padding-bottom: 16px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-bottom: 13px;
    padding-top: 64px;

    h4 {
        width: 45vw;
    }

    .left,
    .right {
      width: 50%;
    }

    .left {
      padding-right: 12px;
    }

    .text-wrapper {
        display: flex;
        flex-direction: row;
    }
  }
}

.banner {
  height: 125px;
  background-color: $primaryAccentYellow;
  width: 100vw;
}