@import "src/styles/variables.scss";

.contentAreaTwo :global {
  color: #000;
  display: flex;

  h4 {
    color: $primaryAccentYellow;
    width: 75vw;
  }

  .left,
  .right {
    width: 100%;
    padding-bottom: 16px;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-bottom: 13px;
    padding-top: 64px;

    .left {
      padding-right: 24px;
    }

    .right {
      padding-left: 24px;
    }

    .text-wrapper {
        display: flex;
        flex-direction: row;
    }
  }
}

.banner {
  height: 125px;
  background-color: $primaryAccentYellow;
  width: 100vw;
}