@import "src/styles/variables.scss";

.contentAreaOne :global {
  color: white;

  .left,
  .right {
    width: 100%;
  }

  .left {
    height: 512px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      // stupid hack to fix the image not filling the entire container
      width: calc(100% + 1px);
    }
  }

  .right {
    background-color: $primaryGray;
    padding: 72px 24px;
  }

  h4 {
    color: $primaryAccentYellow;
  }

  @media (min-width: $desktop) {
    display: flex;
    height: 620px;

    .left,
    .right {
      width: 50%;
    }

    .left {
      height: 100%;
    }

    .right {
      padding: 138px 84px;
    }
  }
}
