@import "src/styles/variables.scss";

.ourWork :global {
  background-color: $primaryGray;
  color: white;
  padding-bottom: 64px;
  padding-top: 64px;

  .card-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
  }
}
